<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvjGgT_wMjS69nQWclZqnyrUWLGEYW5zE</string>
	<key>GCM_SENDER_ID</key>
	<string>710505891653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phamhongson.Sor</string>
	<key>PROJECT_ID</key>
	<string>sorg-285f1</string>
	<key>STORAGE_BUCKET</key>
	<string>sorg-285f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710505891653:ios:10d27ed989eeb933dca02c</string>
</dict>
</plist>